Repository opensearch-project/anomaly-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: backport 2.x, infra, documentation

fixed typo
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
Labels: backport 2.x

1.3.2 release notes (#532)
  release-notes/opensearch-anomaly-detection.release-notes-1.3.2.0.md
Labels: backport 2.x, documentation

bump rcf to 3.0-rc2.1 (#519)
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

bump rcf to 3.0-rc2.1 (#519)
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

Increase more coverage and reduce jacocoExclusions (#533)
  build.gradle
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
Labels: backport 2.x, infra

Increase more coverage and reduce jacocoExclusions (#533)
  build.gradle
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
Labels: backport 2.x, infra

bump rcf to 3.0-rc2.1 (#519)
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

remove rc1 qualifier and _type from test
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, infra

bump rcf to 3.0-rc2.1 (#519)
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

remove rc1 qualifier and _type from test (#543)
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, infra

remove rc1 qualifier and _type from test (#543)
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, infra

remove rc1 qualifier and _type from test (#543)
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, infra

remove rc1 qualifier and _type from test (#543)
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, infra

bump rcf to 3.0-rc2.1 (#519)
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

Use current time as training data end time
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

enable possibility for parallel execution for RCF
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ml/ModelManager.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/org/opensearch/ad/transport/EntityResultTransportActionTests.java
Labels: backport 2.x

added comment
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
Labels: backport 2.x

GA release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

GA release notes (#550)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

GA release notes (#550)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

GA release notes (#550)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

GA release notes (#550)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

GA release notes (#550)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: backport 2.x, documentation

rename variable
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
Labels: backport 2.x

Use current time as training data end time (#547)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Use current time as training data end time (#547)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Use current time as training data end time (#547) (#554)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Adding workflow for creating documentation issues
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/workflows/create-documentation-issue.yml
Labels: backport 2.x, infra

Use current time as training data end time (#547)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Use current time as training data end time (#547)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Use current time as training data end time (#547)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Improve restart integ test
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 2.x

Use current time as training data end time (#547) (#558)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Use current time as training data end time (#547) (#557)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

[Forward port to 1.3] Use current time as training data end time (#547) (#556)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
Labels: backport 2.x

Support writing features using filter aggregation (#425)
  src/main/java/org/opensearch/ad/feature/AbstractRetriever.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
Labels: backport 2.x

[backport to 1.3] Support writing features using filter aggregation (#425)
  src/main/java/org/opensearch/ad/feature/AbstractRetriever.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
Labels: backport 2.x

[backport to 1.3] Support writing features using filter aggregation (#425) (#560)
  src/main/java/org/opensearch/ad/feature/AbstractRetriever.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
Labels: backport 2.x

Version bump 1.3.3
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

Version bump 1.3.3 (#561)
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

.github/labeler.yml:

backport 2.x:
  - "*"
  - "*/*"
  - "*/**/*"
  - "*/**/**/*"
  - "*/**/**/**/*"
  - "*/**/**/**/**/*"
  - "*/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/**/*"
  - ".github/**/*"

infra:
  - ".github/**/*"
  - "build.gradle"

documentation:
  - "*.md"
  - "release-notes/*"
  - "docs/*"
