Repository opensearch-project/anomaly-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: backport 2.x, infra, documentation

Re-enable Tests for CI workflows (#509)
  .github/workflows/CI.yml
Labels: backport 2.x, infra

Re-enable Tests for CI workflows (#509)
  .github/workflows/CI.yml
Labels: backport 2.x, infra

Fix OS version in notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, documentation

Re-enable Tests for CI workflows (#509)
  .github/workflows/CI.yml
Labels: backport 2.x, infra

Fix OS version in notes (#512)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, documentation

Fix OS version in notes (#512)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, documentation

backport release note and enable tests
  .github/workflows/CI.yml
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, infra, documentation

Fix OS version in notes (#512)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, documentation

Re-enable Tests for CI workflows (#509)
  .github/workflows/CI.yml
Labels: backport 2.x, infra

Re-enable Tests for CI workflows (#509)
  .github/workflows/CI.yml
Labels: backport 2.x, infra

Fix OS version in notes (#512)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, documentation

Backport release notes and docker tests (#516)
  .github/workflows/CI.yml
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: backport 2.x, infra, documentation

backport cve fix and improve restart IT
  build.gradle
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 2.x, infra

refactor SearchADResultTransportAction to be more testable
  src/main/java/org/opensearch/ad/transport/SearchAnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
Labels: backport 2.x

[Backport to 1.3] restart bug fix (#496)
  build.gradle
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/transport/DeleteModelTransportAction.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/transport/DeleteModelTransportActionTests.java
Labels: backport 2.x, infra

[Backport to 1.3] Check if indices exist in the presence of empty search results (#495)
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
Labels: backport 2.x

[Backport to 1.3] Check if indices exist in the presence of empty search results (#495) (#522)
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
Labels: backport 2.x

fix bwc issue
  build.gradle
Labels: backport 2.x, infra

incremenet to 1.3.2
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

fixed issue with zips not being deleted before fetching
  build.gradle
Labels: backport 2.x, infra

fix bwc to pull latest version for ad
  build.gradle
Labels: backport 2.x, infra

changed download link to add tar folder
  build.gradle
Labels: backport 2.x, infra

refactor SearchADResultTransportAction to be more testable (#517)
  src/main/java/org/opensearch/ad/transport/SearchAnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
Labels: backport 2.x

refactor SearchADResultTransportAction to be more testable (#517)
  src/main/java/org/opensearch/ad/transport/SearchAnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
Labels: backport 2.x

version bump 1.3.2
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

seperate workflows into different runners
  .github/workflows/BWC-test-workflow.yml
  .github/workflows/CI.yml
  .github/workflows/docker-run-and-test.yml
Labels: backport 2.x, infra

changed workflow name
  .github/workflows/BWC-test-workflow.yml
  .github/workflows/docker-run-and-test.yml
Labels: backport 2.x, infra

moved bwc to docker workflow
  .github/workflows/BWC-test-workflow.yml
  .github/workflows/docker-run-and-test.yml
Labels: backport 2.x, infra

Incremented version to 1.3.2.
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

Add download link
  build.gradle
Labels: backport 2.x, infra

fix test
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 2.x

Version bump to 1.3.2 (#485)
  .github/workflows/CI.yml
  build.gradle
Labels: backport 2.x, infra

fixed to check if build is a snapshot
  build.gradle
Labels: backport 2.x, infra

fixed to check if build is a snapshot
  build.gradle
Labels: backport 2.x, infra

1.3.2 release notes
  release-notes/opensearch-anomaly-detection.release-notes-1.3.2.0.md
Labels: backport 2.x, documentation

Increase more coverage and reduce jacocoExclusions
  build.gradle
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
Labels: backport 2.x, infra

added more comments on v1,v2,v3
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
Labels: backport 2.x

bump rcf to 3.0-rc2.1 and add unit test
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: backport 2.x, infra

adding comments
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
Labels: backport 2.x

spotlessApply
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
Labels: backport 2.x

.github/labeler.yml:

backport 2.x:
  - "*"
  - "*/*"
  - "*/**/*"
  - "*/**/**/*"
  - "*/**/**/**/*"
  - "*/**/**/**/**/*"
  - "*/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/**/*"
  - ".github/**/*"

infra:
  - ".github/**/*"
  - "build.gradle"

documentation:
  - "*.md"
  - "release-notes/*"
  - "docs/*"
