Repository opensearch-project/anomaly-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: backport 2.x, infra, documentation

Add release notes for 1.3.3
  release-notes/opensearch-anomaly-detection.release-notes-1.3.3.0.md
Labels: backport 2.x, documentation

removed bwc zips and fetching opendistro from cloudfront (#505)
  build.gradle
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.13.0.0/opendistro-job-scheduler-1.13.0.0.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.0.0-SNAPSHOT/opensearch-job-scheduler-1.2.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.0.0-SNAPSHOT/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
Labels: backport 2.x, infra

Add release notes for 1.3.3 (#564)
  release-notes/opensearch-anomaly-detection.release-notes-1.3.3.0.md
Labels: backport 2.x, documentation

removed bwc zips and fetching opendistro from cloudfront (#505) (#565)
  build.gradle
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.13.0.0/opendistro-job-scheduler-1.13.0.0.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.0.0-SNAPSHOT/opensearch-job-scheduler-1.2.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.0.0-SNAPSHOT/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
Labels: backport 2.x, infra

add recent commit to release notes
  release-notes/opensearch-anomaly-detection.release-notes-1.3.3.0.md
Labels: backport 2.x, documentation

add one line space between title and bullet point
  release-notes/opensearch-anomaly-detection.release-notes-1.3.3.0.md
Labels: backport 2.x, documentation

backport flaky test fix
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
Labels: backport 2.x

Incremented version to 2.0.1
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

add a recent commit to release notes (#566)
  release-notes/opensearch-anomaly-detection.release-notes-1.3.3.0.md
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
Labels: backport 2.x, documentation

Incremented version to 2.0.1
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

bump rcf to 3.0-rc3
  build.gradle
Labels: backport 2.x, infra

Add 2.0.1 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Add 2.0.1 release notes (#572)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Add 2.0.1 release notes (#572)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Add 2.0.1 release notes (#572)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Add 2.0.1 release notes (#572)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Add 2.0.1 release notes (#572)
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: backport 2.x, documentation

Disable interpolation in HCAD cold start
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
Labels: backport 2.x

improve comments
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
Labels: backport 2.x

Add support for reproducible builds
  build.gradle
Labels: backport 2.x, infra

Bump to 2.1.0 compatibility
  build.gradle
Labels: backport 2.x, infra

make disable interpolation a dynamic setting
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/settings/AbstractSetting.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/settings/EnabledSetting.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
Labels: backport 2.x

Disable interpolation in HCAD cold start (#575)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/settings/AbstractSetting.java
  src/main/java/org/opensearch/ad/settings/EnabledSetting.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x

Disable interpolation in HCAD cold start (#575)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/settings/AbstractSetting.java
  src/main/java/org/opensearch/ad/settings/EnabledSetting.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x

2.1 version bump and gradle 7.4.2 bump
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: backport 2.x, infra

changed clustermanager method naming and add lucene snapshot dependency
  build.gradle
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x, infra

changed fromMediaTypeOrFormat to fromMediaType
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
Labels: backport 2.x

2.1 version bump and Gradle bump (#582)
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x, infra

2.1 version bump and Gradle bump (#582)
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x, infra

fix comment and spacing
  build.gradle
Labels: backport 2.x, infra

adds back gradle and OS version bump
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
Labels: backport 2.x, infra

Revert "2.1 version bump and Gradle bump (#582)"
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x, infra

fixed location of lucene dependency
  build.gradle
Labels: backport 2.x, infra

2.1 version bump and Gradle bump (#582)
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x, infra

Cluster manager revert fix (#584)
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x

.github/labeler.yml:

backport 2.x:
  - "*"
  - "*/*"
  - "*/**/*"
  - "*/**/**/*"
  - "*/**/**/**/*"
  - "*/**/**/**/**/*"
  - "*/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/**/*"
  - ".github/**/*"

infra:
  - ".github/**/*"
  - "build.gradle"

documentation:
  - "*.md"
  - "release-notes/*"
  - "docs/*"
