Repository opensearch-project/anomaly-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: backport 1.x, infra, documentation

changed <> to <String, Object> so jdk8 compiles
  src/test/java/org/opensearch/ad/model/AnomalyResultBucketTests.java
Labels: backport 1.x

all the os -2 .0 code
  .github/workflows/CI.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/AbstractADTest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/cluster/ADVersionUtilTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointWriteWorkerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/ADStatsITTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/DeleteITTests.java
  src/test/java/org/opensearch/ad/transport/ProfileITTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultITTests.java
  src/test/java/org/opensearch/ad/transport/ThresholdResultITTests.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
  src/test/java/org/opensearch/ad/util/BulkUtilTests.java
  src/test/java/org/opensearch/ad/util/ExceptionUtilsTests.java
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-2.0.0.0-SNAPSHOT.zip
Labels: backport 1.x, infra

add comments and check for empty hits in test code
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x

Fix restart HCAD detector bug (#460)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/transport/DeleteModelTransportAction.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/transport/DeleteModelTransportActionTests.java
Labels: backport 1.x

Fix restart HCAD detector bug (#460)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/transport/DeleteModelTransportAction.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/transport/DeleteModelTransportActionTests.java
Labels: backport 1.x

Fix restart HCAD detector bug (#460)
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/transport/DeleteModelTransportAction.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/transport/DeleteModelTransportActionTests.java
Labels: backport 1.x

changed <> to <String, Object> so jdk8 compiles (#462)
  src/test/java/org/opensearch/ad/model/AnomalyResultBucketTests.java
Labels: backport 1.x

all the os -2 .0 code (#464)
  .github/workflows/CI.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/AbstractADTest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/cluster/ADVersionUtilTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointWriteWorkerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/ADStatsITTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/DeleteITTests.java
  src/test/java/org/opensearch/ad/transport/ProfileITTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultITTests.java
  src/test/java/org/opensearch/ad/transport/ThresholdResultITTests.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
  src/test/java/org/opensearch/ad/util/BulkUtilTests.java
  src/test/java/org/opensearch/ad/util/ExceptionUtilsTests.java
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-2.0.0.0-SNAPSHOT.zip
Labels: backport 1.x, infra

adding retry failed test to gradle
  build.gradle
Labels: backport 1.x, infra

only retry tests when running CI, changing retry to 8
  build.gradle
Labels: backport 1.x, infra

Bump to 1.4.0.0
  .github/workflows/CI.yml
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.4.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.4.0.0-SNAPSHOT/opensearch-job-scheduler-1.4.0.0-SNAPSHOT.zip
Labels: backport 1.x, infra

Bump to 1.4.0.0 (#467)
  .github/workflows/CI.yml
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.4.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.4.0.0-SNAPSHOT/opensearch-job-scheduler-1.4.0.0-SNAPSHOT.zip
Labels: backport 1.x, infra

all-c
  build.gradle
Labels: backport 1.x, infra

Bump version to 1.3.1
  .github/workflows/CI.yml
  build.gradle
Labels: backport 1.x, infra

changed forbiddenAPIsTest signature files and added Local.ROOT to String.format calls
  build.gradle
  src/forbidden/ad-test-signatures.txt
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/cluster/DailyCronTests.java
  src/test/java/org/opensearch/ad/cluster/HourlyCronTests.java
  src/test/java/org/opensearch/ad/cluster/MasterEventListenerTests.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ADResultBulkTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/DeleteTests.java
  src/test/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/PreviewAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/handler/AbstractIndexHandlerTest.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultHandlerTests.java
Labels: backport 1.x, infra

formatting spotlessApply
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
Labels: backport 1.x

changed all remining printstack to logger.error()
  build.gradle
  src/test/java/org/opensearch/ad/HistoricalAnalysisRestTestCase.java
  src/test/java/org/opensearch/ad/cluster/HashRingTests.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/mock/plugin/MockReindexPlugin.java
  src/test/java/org/opensearch/ad/plugin/MockReindexPlugin.java
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
Labels: backport 1.x, infra

added a few more locale default
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x

spotless formatting
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x

removed retries in code for restartHCAD test
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x

Add binaries
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.1.0-SNAPSHOT/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
Labels: backport 1.x

all-c (#468)
  build.gradle
Labels: backport 1.x, infra

Bump version to 1.3.1 (#470)
  .github/workflows/CI.yml
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.1.0-SNAPSHOT/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
Labels: backport 1.x, infra

change default version to 2.0.0-alpha1-SNAPSHOT
  build.gradle
Labels: backport 1.x, infra

change default version to 2.0.0-alpha1-SNAPSHOT (#472)
  build.gradle
Labels: backport 1.x, infra

revert alpha1 default version
  build.gradle
Labels: backport 1.x, infra

revert alpha1 default version (#473)
  build.gradle
Labels: backport 1.x, infra

added alternative to MethodHandle invoke
  src/forbidden/ad-test-signatures.txt
Labels: backport 1.x

removing job-scheduler zip used in integ test and replacing with distribution build download
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.1.0-SNAPSHOT/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
Labels: backport 1.x, infra

make js directory on build only
  .gitignore
  build.gradle
Labels: backport 1.x, infra

Changed forbiddenAPIsTest files and made relevant forbidden fixes (#450)
  build.gradle
  src/forbidden/ad-test-signatures.txt
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/HistoricalAnalysisRestTestCase.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/cluster/DailyCronTests.java
  src/test/java/org/opensearch/ad/cluster/HashRingTests.java
  src/test/java/org/opensearch/ad/cluster/HourlyCronTests.java
  src/test/java/org/opensearch/ad/cluster/MasterEventListenerTests.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/mock/plugin/MockReindexPlugin.java
  src/test/java/org/opensearch/ad/plugin/MockReindexPlugin.java
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ADResultBulkTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/DeleteTests.java
  src/test/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/PreviewAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/handler/AbstractIndexHandlerTest.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultHandlerTests.java
Labels: backport 1.x, infra

this is a test commit to see if CI fails even with retries when it should
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
Labels: backport 1.x

Add viz integ RFC doc
  docs/images/viz-integration-workflow.png
  docs/visualization-integration-rfc.md
Labels: backport 1.x, documentation

added new constants, removed mkdir line
  build.gradle
Labels: backport 1.x, infra

Add question about invalid inputs
  docs/visualization-integration-rfc.md
Labels: backport 1.x, documentation

Adding back mkdir for integ test task
  build.gradle
Labels: backport 1.x, infra

upgraded version and removed failing test
  build.gradle
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
Labels: backport 1.x, infra

added clean cluster and wipe indices back after test failure
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x

Add Visualization integration RFC docs (#477)
  docs/images/viz-integration-workflow.png
  docs/visualization-integration-rfc.md
Labels: backport 1.x, documentation

Adding test-retry plugin (#456)
  build.gradle
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x, infra

.github/labeler.yml:

backport 1.x:
  - "*"
  - "*/*"
  - "*/**/*"
  - "*/**/**/*"
  - "*/**/**/**/*"
  - "*/**/**/**/**/*"
  - "*/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/**/*"
  - ".github/**/*"

infra:
  - ".github/**/*"
  - "build.gradle"

documentation:
  - "*.md"
  - "release-notes/*"
  - "docs/*"
