Repository opensearch-project/anomaly-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: backport 2.x, infra, documentation

.github/labeler.yml:

backport 2.x:
  - "*"
  - "*/*"
  - "*/**/*"
  - "*/**/**/*"
  - "*/**/**/**/*"
  - "*/**/**/**/**/*"
  - "*/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/*"
  - "*/**/**/**/**/**/**/**/**/*"
  - ".github/**/*"

infra:
  - ".github/**/*"
  - "build.gradle"

documentation:
  - "*.md"
  - "release-notes/*"
  - "docs/*"

Cluster manager revert fix (#584)
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x

Cluster manager revert fix (#584)
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x

adding data ingestion script to ad
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

added readme, backoff on retry, and removed some print lines
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: backport 2.x

clean up comment
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: backport 2.x

add more to help section
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: backport 2.x

Adding HCAD data ingestion script to AD (#585)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

Adding HCAD data ingestion script to AD (#585)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

updated data ingestion modules and retry logic
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

update readme data ingestion
  dataGeneration/README.md
Labels: backport 2.x

Adding HCAD data ingestion script to AD (#585)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

change to different client create method
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: backport 2.x

add retry logic
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: backport 2.x

Update ingestion (#592)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

Update ingestion (#592)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

Update ingestion (#592)
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

adding custom plugin to upload ad zip to maven
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

adding custom plugin to upload ad zip to maven (#594)
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

adding custom plugin to upload ad zip to maven (#594)
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

adding custom plugin to upload ad zip to maven (#594)
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

adding custom plugin to upload ad zip to maven (#594)
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

adding custom plugin to upload ad zip to maven (#594)
  build.gradle
  scripts/build.sh
Labels: backport 2.x, infra

Add 2.1.0 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Add 2.1.0 release notes (#597)
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Add 2.1.0 release notes (#597)
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Add 2.1.0 release notes (#597)
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Add 2.1.0 release notes (#597)
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Add 2.1.0 release notes (#597)
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Expose model accuracy metrics in tests
  .github/workflows/CI.yml
  build.gradle
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra

update release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: backport 2.x, documentation

Expose model accuracy metrics in tests (#600)
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra, documentation

Expose model accuracy metrics in tests (#600)
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra, documentation

Expose model accuracy metrics in tests (#600)
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra, documentation

Expose model accuracy metrics in tests (#600)
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra, documentation

Expose model accuracy metrics in tests (#600)
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x, infra, documentation

test version increment automation
  build.gradle
  gradle.properties
  scripts/build.sh
Labels: backport 2.x, infra

test version increment automation
  build.gradle
Labels: backport 2.x, infra

test version increment automation
  build.gradle
Labels: backport 2.x, infra

Adding doc and removing system property from build.gradle
  DEVELOPER_GUIDE.md
  build.gradle
Labels: backport 2.x, infra, documentation
