Repository opensearch-project/anomaly-detection, pull requests merged in 2021-11, with the labels that each got.

#272 Improve HCAD cold start
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/NodeState.java
  src/main/java/org/opensearch/ad/NodeStateManager.java
  src/main/java/org/opensearch/ad/feature/SearchFeatureDao.java
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ml/EntityModel.java
  src/main/java/org/opensearch/ad/ml/ModelManager.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/task/ADBatchTaskCache.java
  src/test/java/org/opensearch/ad/MemoryTrackerTests.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/feature/SearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
  src/test/java/test/org/opensearch/ad/util/LabelledAnomalyGenerator.java
  src/test/java/test/org/opensearch/ad/util/MLUtil.java
  src/test/java/test/org/opensearch/ad/util/MultiDimDataWithTime.java
Labels: enhancement

#231 Validation API - "Blocker" level validation
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/common/exception/ADValidationException.java
  src/main/java/org/opensearch/ad/common/exception/NotSerializedADExceptionName.java
  src/main/java/org/opensearch/ad/constant/CommonErrorMessages.java
  src/main/java/org/opensearch/ad/constant/CommonName.java
  src/main/java/org/opensearch/ad/feature/SearchFeatureDao.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/model/DetectorValidationIssue.java
  src/main/java/org/opensearch/ad/model/DetectorValidationIssueType.java
  src/main/java/org/opensearch/ad/model/IntervalTimeConfiguration.java
  src/main/java/org/opensearch/ad/model/MergeableList.java
  src/main/java/org/opensearch/ad/model/ValidationAspect.java
  src/main/java/org/opensearch/ad/rest/AbstractAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/RestIndexAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/RestValidateAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ValidateAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/PreviewAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorRequest.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorResponse.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/util/RestHandlerUtils.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/common/exception/ADValidationExceptionTests.java
  src/test/java/org/opensearch/ad/common/exception/NotSerializedADExceptionNameTests.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/model/MergeableListTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorActionTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorRequestTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorResponseTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/util/RestHandlerUtilsTests.java
Labels: feature, v1.2.0

#281 Support custom result indices in multi-category filtering API
  src/main/java/org/opensearch/ad/transport/SearchTopAnomalyResultTransportAction.java
Labels: enhancement, v1.2.0

#285 Skipping checking create index permission for Validate API
  .github/workflows/CI.yml
  src/main/java/org/opensearch/ad/constant/CommonErrorMessages.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/model/DetectorValidationIssueType.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/handler/AnomalyIndexHandler.java
  src/main/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandler.java
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.1.0.0-SNAPSHOT/opensearch-job-scheduler-1.1.0.0-SNAPSHOT.zip
Labels: enhancement, v1.2.0

#289 Fix Instant parsing bug in multi category filtering API
  src/main/java/org/opensearch/ad/transport/SearchTopAnomalyResultTransportAction.java
Labels: bug, v1.2.0

#273 Add DCO Check Workflow
  .github/workflows/dco.yml
Labels: documentation, v1.2.0

#310 [Backporting to 1.x] updated release notes for 1.2 backend (#308)
  release-notes/opensearch-anomaly-detection.release-notes-1.2.0.0.md
Labels: backport

#309 [Backporting to 1.2] updated release notes for 1.2 backend (#308)
  release-notes/opensearch-anomaly-detection.release-notes-1.2.0.0.md
Labels: backport, v1.2.0

#327 Add patch version 1.2.0.1 release notes
  release-notes/opensearch-anomaly-detection.release-notes-1.2.0.1.md
Labels: documentation

#328 [BACKPORT] [1.x] Add patch version 1.2.0.1 release notes (#327)
  release-notes/opensearch-anomaly-detection.release-notes-1.2.0.1.md
Labels: documentation, backport

#329 [BACKPORT] [1.2] Add patch version 1.2.0.1 release notes (#327)
  release-notes/opensearch-anomaly-detection.release-notes-1.2.0.1.md
Labels: documentation, backport
