Repository opensearch-project/anomaly-detection, pull requests merged in 2021-06, with the labels that each got.

#90 Fix empty range for cold start bug
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: bug

#103 Add broken link check workflow
  .github/workflows/link-check-workflow.yml
  README.md
Labels: infra

#105 Update and add documentation files
  CONTRIBUTING.md
  DEVELOPER_GUIDE.md
  MAINTAINERS.md
  README.md
  RELEASING.md
  SECURITY.md
Labels: documentation, v1.0.0, v1.1.0

#107 [BACKPORT] [1.x] Update and add documentation files
  CONTRIBUTING.md
  DEVELOPER_GUIDE.md
  MAINTAINERS.md
  README.md
  RELEASING.md
  SECURITY.md
Labels: backport

#106 [BACKPORT] [1.0] Update and add documentation files
  CONTRIBUTING.md
  DEVELOPER_GUIDE.md
  MAINTAINERS.md
  README.md
  RELEASING.md
  SECURITY.md
Labels: backport

#111 Add release notes for 1.0.0.0
  release-notes/opensearch-anomaly-detection.release-notes-1.0.0.0.md
Labels: documentation, v1.0.0

#110 Bump plugin version to 1.0.0.0
  .github/workflows/CI.yml
  build.gradle
Labels: infra, v1.0.0

#114 Bump plugin dependencies to 1.0.0.0
  .github/workflows/CI.yml
  build.gradle
Labels: v1.0.0
