Repository opensearch-project/anomaly-detection, pull requests merged in 2021-08, with the labels that each got.

#155 [BACKPORT] [1.0] Bump plugin dependencies to 1.0.0.0
  .github/workflows/CI.yml
  build.gradle
Labels: backport

#134 Add themed logo to README
  README.md
Labels: documentation

#177 Bug fixes and unit tests
  build.gradle
  src/main/java/org/opensearch/ad/caching/PriorityCache.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/ml/ModelManager.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/transport/EntityResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/handler/MultiEntityResultHandler.java
  src/main/java/org/opensearch/ad/util/BulkUtil.java
  src/main/java/org/opensearch/ad/util/MathUtil.java
  src/main/java/org/opensearch/ad/util/ThrowingSupplierWrapper.java
  src/test/java/org/opensearch/AnomalyResultResponse1_0.java
  src/test/java/org/opensearch/BwcTests.java
  src/test/java/org/opensearch/CronNodeRequest1_0.java
  src/test/java/org/opensearch/CronRequest1_0.java
  src/test/java/org/opensearch/ad/AbstractADTest.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/indices/UpdateMappingTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/org/opensearch/ad/transport/ADResultBulkResponseTests.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
  src/test/java/org/opensearch/ad/transport/handler/AbstractIndexHandlerTest.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultHandlerTests.java
  src/test/java/org/opensearch/ad/transport/handler/MultiEntityResultHandlerTests.java
  src/test/java/org/opensearch/ad/util/BulkUtilTests.java
  src/test/java/org/opensearch/ad/util/ThrowingSupplierWrapperTests.java
Labels: bug

#182 Limit the max models shown on the stats and profile API
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/AnomalyDetectorProfileRunner.java
  src/main/java/org/opensearch/ad/constant/CommonName.java
  src/main/java/org/opensearch/ad/model/DetectorProfile.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/stats/StatNames.java
  src/main/java/org/opensearch/ad/stats/suppliers/ModelsOnNodeCountSupplier.java
  src/main/java/org/opensearch/ad/stats/suppliers/ModelsOnNodeSupplier.java
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/main/java/org/opensearch/ad/transport/ProfileNodeResponse.java
  src/main/java/org/opensearch/ad/transport/ProfileResponse.java
  src/main/java/org/opensearch/ad/transport/ProfileTransportAction.java
  src/test/java/org/opensearch/BwcTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorProfileRunnerTests.java
  src/test/java/org/opensearch/ad/MultiEntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/stats/ADStatsTests.java
  src/test/java/org/opensearch/ad/stats/suppliers/ModelsOnNodeSupplierTests.java
  src/test/java/org/opensearch/ad/transport/ADStatsNodesTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ProfileTests.java
  src/test/java/org/opensearch/ad/transport/ProfileTransportActionTests.java
  src/test/java/org/opensearch/search/aggregations/metrics/CardinalityProfileTests.java
Labels: bug, enhancement
