Repository opensearch-project/anomaly-detection, pull requests merged in 2021-12, with the labels that each got.

#331 Dropping securemock dependency
  build.gradle
Labels: infrastructure

#333 [Backport 1.x] Dropping securemock depedency
  build.gradle
Labels: infrastructure, backport 1.x

#334 Bump plugin to 1.3.0.0
  .github/workflows/CI.yml
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.2.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.0.0-SNAPSHOT/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
Labels: version upgrade, v1.3.0

#345 Incremented version to 1.2.3.
  .github/workflows/CI.yml
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.2.2.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.2.3.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.0.0-SNAPSHOT/opensearch-job-scheduler-1.2.0.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.1.0-SNAPSHOT/opensearch-job-scheduler-1.2.1.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.2.0-SNAPSHOT/opensearch-job-scheduler-1.2.2.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.2.3.0-SNAPSHOT/opensearch-job-scheduler-1.2.3.0-SNAPSHOT.zip
Labels: v1.2.3
