Repository opensearch-project/anomaly-detection, pull requests merged in 2022-09, with the labels that each got.

#644 Removed additional non-inclusive terms
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ADClusterEventListenerTests.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
  src/test/java/test/org/opensearch/ad/util/ClusterCreation.java
Labels: backport 2.x

#659 Replace Forum link in Anomaly Detection plugin README.md
  README.md
Labels: documentation, backport 2.x

#658 Bump to version 2.3
  build.gradle
Labels: backport 2.x, v2.3.0

#660 Add 2.3 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.3.0.0.md
Labels: documentation, backport 2.x

#664 Removed Github DCO action since DCO runs via Github App now
  .github/workflows/dco.yml
  src/main/java/org/opensearch/ad/NodeStateManager.java
  src/main/java/org/opensearch/ad/util/IndexUtils.java
Labels: infra, backport 2.x

#579 Add support for reproducible builds
  build.gradle
Labels: infra, backport 2.x

#674 Fix window delay test
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 2.x
