Repository opensearch-project/anomaly-detection, pull requests merged in 2022-03, with the labels that each got.

#395 Add JDK 11 to CI test matrix
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Labels: backport 1.x

#384 Adding Model Type Validation to Validate API ("non-blocker")
  build.gradle
  src/main/java/org/opensearch/ad/common/exception/ADValidationException.java
  src/main/java/org/opensearch/ad/constant/CommonErrorMessages.java
  src/main/java/org/opensearch/ad/constant/CommonName.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/model/DetectorValidationIssue.java
  src/main/java/org/opensearch/ad/model/DetectorValidationIssueType.java
  src/main/java/org/opensearch/ad/model/IntervalTimeConfiguration.java
  src/main/java/org/opensearch/ad/model/ValidationAspect.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ModelValidationActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ValidateAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/util/ParseUtils.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
Labels: enhancement, v1.3.0, backport 1.x

#402 Fixing failing IT for validate API
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
Labels: backport 1.x, backport 1.3

#406 Adding Locale.ROOT param on toLowerCase() calls
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ForwardADTaskRequestTests.java
  src/test/java/org/opensearch/ad/transport/SearchTopAnomalyResultTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
Labels: backport 1.x, backport 1.3

#412 Check one feature query at a time - Validate API
  src/main/java/org/opensearch/ad/rest/handler/ModelValidationActionHandler.java
Labels: backport 1.x, backport 1.3

#419 Add release notes for 1.3.0.0
  release-notes/opensearch-anomaly-detection.release-notes-1.3.0.0.md
Labels: documentation, v1.3.0, backport 1.x, backport 1.3

#418 Build on JDK 8, revert private build of protostuff.
  .github/workflows/CI.yml
  build.gradle
  lib/protostuff-api-1.8.0-SNAPSHOT.jar
  lib/protostuff-collectionschema-1.8.0-SNAPSHOT.jar
  lib/protostuff-core-1.8.0-SNAPSHOT.jar
  lib/protostuff-runtime-1.8.0-SNAPSHOT.jar
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/transport/ADBatchAnomalyResultTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyDetectorJobTransportActionTests.java
Labels: backport 1.x, backport 1.3

#431 Fix docker tag to unblock running integ tests in CI
  .github/workflows/CI.yml
  src/main/java/org/opensearch/ad/constant/CommonErrorMessages.java
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
Labels: infra, backport 1.x, backport 1.3

#447 Fixed ADTaskProfile toXContent bug and added to .gitignore
  .gitignore
  src/main/java/org/opensearch/ad/model/ADTaskProfile.java
  src/test/java/org/opensearch/ad/transport/ADTaskProfileTests.java
Labels: bug

#446 Reduced jacoco exclusions and added more tests
  build.gradle
  src/main/java/org/opensearch/ad/model/EntityProfileName.java
  src/main/java/org/opensearch/ad/rest/handler/ModelValidationActionHandler.java
  src/test/java/org/opensearch/ad/AnomalyDetectorPluginTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorProfileRunnerTests.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/common/exception/ADValidationExceptionTests.java
  src/test/java/org/opensearch/ad/model/ADEntityTaskProfileTests.java
  src/test/java/org/opensearch/ad/model/AnomalyResultBucketTests.java
  src/test/java/org/opensearch/ad/model/DetectorInternalStateTests.java
  src/test/java/org/opensearch/ad/model/DetectorProfileTests.java
  src/test/java/org/opensearch/ad/model/EntityProfileTests.java
  src/test/java/org/opensearch/ad/model/MergeableListTests.java
  src/test/java/org/opensearch/ad/transport/ADTaskProfileTests.java
  src/test/java/org/opensearch/ad/transport/EntityProfileTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorResponseTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/util/ParseUtilsTests.java
Labels: infra

#455 Add auto labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: infra, backport 1.x

#460 Fix restart HCAD detector bug
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/transport/DeleteModelTransportAction.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/transport/DeleteModelTransportActionTests.java
Labels: backport 1.x, backport 1.3, backport 1.2, backport 1.1, backport 1.0

#464 Gradle 7 and Opensearch 2.0 upgrade
  .github/workflows/CI.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/AbstractADTest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/NodeStateManagerTests.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/cluster/ADVersionUtilTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointWriteWorkerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/ADStatsITTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/DeleteITTests.java
  src/test/java/org/opensearch/ad/transport/ProfileITTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultITTests.java
  src/test/java/org/opensearch/ad/transport/ThresholdResultITTests.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
  src/test/java/org/opensearch/ad/util/BulkUtilTests.java
  src/test/java/org/opensearch/ad/util/ExceptionUtilsTests.java
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.0.0-SNAPSHOT.zip
  src/test/resources/job-scheduler/opensearch-job-scheduler-2.0.0.0-SNAPSHOT.zip
Labels: infra

#468 Add support for -Dbuild.version_qualifier
  build.gradle
Labels: infra

#472 change default version to 2.0.0-alpha1-SNAPSHOT
  build.gradle
Labels: infra

#473 revert alpha1 default version
  build.gradle
Labels: infra

#478 Changes default version to 2.0.0-alpha1 and fixes CVE-2020-36518
  .github/workflows/CI.yml
  build.gradle
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/indices/RolloverTests.java
Labels: infra
