Repository opensearch-project/anomaly-detection, pull requests merged in 2022-11, with the labels that each got.

#710 Fixing Docker CI for security enabled tests
  .github/workflows/CI.yml
  .github/workflows/test_build_multi_platform.yml
  .github/workflows/test_bwc.yml
  .github/workflows/test_security.yml
Labels: infra, backport 2.x

#729 AD model performance benchmark
  .github/workflows/CI.yml
  .github/workflows/benchmark.yml
  DEVELOPER_GUIDE.md
  build.gradle
  src/test/java/org/opensearch/ad/e2e/AbstractSyntheticDataTest.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/e2e/SingleStreamModelPerfIT.java
  src/test/java/org/opensearch/ad/ml/AbstractCosineDataTest.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/HCADModelPerfTests.java
  src/test/java/test/org/opensearch/ad/util/LabelledAnomalyGenerator.java
Labels: backport 2.x

#722 AD model performance benchmark
  .github/workflows/benchmark.yml
  DEVELOPER_GUIDE.md
  build.gradle
  src/test/java/org/opensearch/ad/e2e/AbstractSyntheticDataTest.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/e2e/SingleStreamModelPerfIT.java
  src/test/java/org/opensearch/ad/ml/AbstractCosineDataTest.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/HCADModelPerfTests.java
  src/test/java/test/org/opensearch/ad/util/LabelledAnomalyGenerator.java
Labels: backport 1.x

#736 Added coalesceToEmpty method
  src/main/java/org/opensearch/ad/util/RestHandlerUtils.java
Labels: backport 2.x
