Repository opensearch-project/anomaly-detection, pull requests merged in 2022-08, with the labels that each got.

#608 Staging for version increment automation
  build.gradle
Labels: backport 1.x, backport 1.3, backport 2.x, backport 2.0, backport 2.1

#620 make 1M1min possible
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/caching/CacheBuffer.java
  src/main/java/org/opensearch/ad/caching/CacheProvider.java
  src/main/java/org/opensearch/ad/caching/DoorKeeper.java
  src/main/java/org/opensearch/ad/caching/EntityCache.java
  src/main/java/org/opensearch/ad/caching/PriorityCache.java
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/main/java/org/opensearch/ad/ml/ModelManager.java
  src/main/java/org/opensearch/ad/ratelimit/CheckPointMaintainRequestAdapter.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointMaintainRequest.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointMaintainWorker.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointWriteWorker.java
  src/main/java/org/opensearch/ad/ratelimit/ColdEntityWorker.java
  src/main/java/org/opensearch/ad/ratelimit/RateLimitedRequestWorker.java
  src/main/java/org/opensearch/ad/ratelimit/ScheduledWorker.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/main/java/org/opensearch/ad/stats/StatNames.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/EntityResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/RCFResultTransportAction.java
  src/main/java/org/opensearch/ad/util/DateUtils.java
  src/test/java/org/opensearch/ad/caching/AbstractCacheTest.java
  src/test/java/org/opensearch/ad/caching/CacheBufferTests.java
  src/test/java/org/opensearch/ad/caching/PriorityCacheTests.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckPointMaintainRequestAdapterTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointMaintainWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointReadWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/CheckpointWriteWorkerTests.java
  src/test/java/org/opensearch/ad/ratelimit/ColdEntityWorkerTests.java
  src/test/java/org/opensearch/ad/settings/AnomalyDetectorSettingsTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/EntityResultTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultTests.java
  src/test/java/org/opensearch/ad/util/DateUtilsTests.java
Labels: backport 2.x

#625 Update BWC zip links
  build.gradle
  src/test/java/org/opensearch/ad/bwc/ADBackwardsCompatibilityIT.java
Labels: infra, backport 1.x, backport 2.x

#627 Bump version to 2.2
  build.gradle
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: infra, backport 2.x

#631 2.2 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.2.0.0.md
Labels: documentation, backport 2.x, backport 2.2

#624 Staging for version increment automation
  build.gradle
Labels: backport 1.3

#634 Fix taskmanager compilation error in FakeNode
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: backport 2.x, backport 2.2

#637 Fix PowerMock related tests due to version bump
  build.gradle
  src/main/java/org/opensearch/ad/MemoryTracker.java
  src/main/java/org/opensearch/ad/feature/SearchFeatureDao.java
  src/main/java/org/opensearch/ad/ml/ModelManager.java
  src/test/java/org/opensearch/ad/feature/SearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: infra, backport 2.x, backport 2.2
