Repository opensearch-project/anomaly-detection, pull requests merged in 2022-05, with the labels that each got.

#519 bump rcf to 3.0-rc2.1
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ml/CheckpointDao.java
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
  src/test/java/org/opensearch/ad/ml/CheckpointDeleteTests.java
  src/test/resources/org/opensearch/ad/ml/1_3_0_rcf_model_pre_init.json
  src/test/resources/org/opensearch/ad/ml/rc1_model_single_running.json
  src/test/resources/org/opensearch/ad/ml/rc1_trcf_model_direct.json
Labels: infra, backport 2.x

#533 Increase more coverage and reduce jacocoExclusions
  build.gradle
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
Labels: infra, backport 2.x

#543 remove rc1 qualifier
  build.gradle
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: infra, backport 2.x, Backport 2.0

#550 GA release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0.md
Labels: documentation, backport 2.x, backport 2.0
