Repository opensearch-project/anomaly-detection, pull requests merged in 2022-10, with the labels that each got.

#678 update jackson dependency version
  build.gradle
Labels: infra, backport 1.3, backport 2.x

#693 bump version to 3.0.0
  build.gradle
Labels: infra

#697 Bump jackson-databind to 2.13.4.2
  build.gradle
Labels: infra, backport 1.x, backport 2.x

#696 Fixing issues caused by 3.0 version bumping
  build.gradle
  src/main/java/org/opensearch/ad/transport/ADCancelTaskNodeRequest.java
  src/main/java/org/opensearch/ad/transport/ADStatsNodeRequest.java
  src/main/java/org/opensearch/ad/transport/ADTaskProfileNodeRequest.java
  src/main/java/org/opensearch/ad/transport/CronNodeRequest.java
  src/main/java/org/opensearch/ad/transport/DeleteModelNodeRequest.java
  src/main/java/org/opensearch/ad/transport/ProfileNodeRequest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/HistoricalAnalysisRestTestCase.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/bwc/ADBackwardsCompatibilityIT.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/mock/transport/MockADCancelTaskNodeRequest_1_0.java
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
Labels: infra

#699 Add 2.4 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.4.0.0.md
Labels: documentation, backport 2.x, backport 2.4

#703 windows CI for AD
  .github/workflows/CI.yml
  src/test/java/org/opensearch/ad/ml/CheckpointDaoTests.java
Labels: infra, backport 2.x, backport 2.4
