Repository opensearch-project/anomaly-detection, pull requests merged in 2022-06, with the labels that each got.

#568 bump rcf to 3.0-rc3
  build.gradle
Labels: infra, backport 2.x, backport 2.0

#572 Add 2.0.1 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.1.0.md
Labels: documentation, backport 2.x, backport 2.0

#575 Disable interpolation in HCAD cold start
  src/main/java/org/opensearch/ad/ml/EntityColdStarter.java
  src/main/java/org/opensearch/ad/settings/AbstractSetting.java
  src/main/java/org/opensearch/ad/settings/EnabledSetting.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: backport 2.x

#582 2.1 version bump and Gradle bump
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: infra, backport 2.x

#584 Cluster manager revert fix
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
Labels: backport 2.x

#585 Adding HCAD data ingestion script to AD
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
  dataGeneration/requirements.txt
Labels: backport 2.x

#594 Adding custom plugin to publish zip to maven
  build.gradle
  scripts/build.sh
Labels: infra, backport 2.x, backport 2.1

#597 Add 2.1.0 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
Labels: documentation, backport 2.x, backport 2.1

#600 Expose model accuracy metrics in tests
  .github/workflows/CI.yml
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.1.0.0.md
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
Labels: enhancement, backport 2.x, backport 2.1
