Repository opensearch-project/anomaly-detection, pull requests merged in 2022-04, with the labels that each got.

#475 removing job-scheduler zip for 1.3 branch
  .gitignore
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
  src/test/resources/org/opensearch/ad/bwc/job-scheduler/1.3.1.0-SNAPSHOT/opensearch-job-scheduler-1.3.1.0-SNAPSHOT.zip
Labels: backport 1.x

#486 Remove hardcoded values for the qualifiers
  build.gradle
Labels: infra, v2.0.0, backport 1.x, release

#488 Updated issue templates from .github.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/pull_request.md
Labels: infra

#487 removing job-scheduler zip and replacing with distribution build
  .gitignore
  build.gradle
  src/test/resources/job-scheduler/opensearch-job-scheduler-2.0.0.0-SNAPSHOT.zip
Labels: infra

#489 JDK 17 support
  .github/workflows/CI.yml
  build.gradle
Labels: infra

#494 Moving script file in scripts folder for file location standardization
  scripts/bwctest.sh
Labels: v2.0.0

#495 Check if indices exist in the presence of empty search results
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
Labels: backport 1.x, backport 1.3

#500 Removed rcf jar for 3.0-rc1 and fixed zip fetching for AD and JS
  build.gradle
  lib/randomcutforest-core-2.0.1.jar
  lib/randomcutforest-parkservices-2.0.1.jar
Labels: infra

#498 add more unit tests for AD transport actions
  build.gradle
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/transport/AnomalyDetectorJobActionTests.java
  src/test/java/org/opensearch/ad/transport/DeleteAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyDetectorInfoActionTests.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
  src/test/java/org/opensearch/ad/transport/StopDetectorActionTests.java
Labels: infra, v2.0.0, backport 1.x

#503 changed to rc1 and add tar to distribution download link
  build.gradle
Labels: infra

#504 changed usages of "master" to "clusterManager" in variable names
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/cluster/ClusterManagerEventListener.java
  src/main/java/org/opensearch/ad/cluster/HashRing.java
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/main/java/org/opensearch/ad/settings/AnomalyDetectorSettings.java
  src/test/java/org/opensearch/ad/cluster/ADClusterEventListenerTests.java
  src/test/java/org/opensearch/ad/cluster/ClusterManagerEventListenerTests.java
  src/test/java/test/org/opensearch/ad/util/ClusterCreation.java
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: enhancement, v2.0.0

#507 Update labeler to default backport to 2.x
  .github/labeler.yml
Labels: infra

#509 Re-enable Tests for CI workflows
  .github/workflows/CI.yml
Labels: infra, backport 2.x

#512 2.0.0.0-rc1 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.0.0.0-rc1.md
Labels: documentation, backport 2.x

#522 [Backport to 1.3] Empty search results bug fix (#495)
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
Labels: bug

#517 refactor SearchADResultTransportAction to be more testable
  src/main/java/org/opensearch/ad/transport/SearchAnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
Labels: Priority-Medium, backport 2.x
