Repository opensearch-project/anomaly-detection, pull requests merged in 2022-12, with the labels that each got.

#728 AD model performance benchmark
  .github/workflows/benchmark.yml
  .github/workflows/test_build_multi_platform.yml
  DEVELOPER_GUIDE.md
  build.gradle
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/e2e/AbstractSyntheticDataTest.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/e2e/SingleStreamModelPerfIT.java
  src/test/java/org/opensearch/ad/ml/AbstractCosineDataTest.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/ml/HCADModelPerfTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/test/org/opensearch/ad/util/LabelledAnomalyGenerator.java
Labels: infra

#748 Model Profile Test
  src/test/java/org/opensearch/ad/model/ModelProfileTests.java
Labels: backport 2.x

#760 Fix: typo in ohltyler.
  MAINTAINERS.md
Labels: documentation, backport 2.x

#753 Speed up cold start
  src/main/java/org/opensearch/ad/AnomalyDetectorJobRunner.java
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/ExecuteADResultResponseRecorder.java
  src/main/java/org/opensearch/ad/caching/PriorityCache.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/ratelimit/EntityColdStartWorker.java
  src/main/java/org/opensearch/ad/rest/RestExecuteAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorJobActionHandler.java
  src/main/java/org/opensearch/ad/settings/EnabledSetting.java
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/main/java/org/opensearch/ad/transport/AnomalyDetectorJobTransportAction.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/caching/PriorityCacheTests.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/mock/transport/MockAnomalyDetectorJobTransportActionWithUser.java
  src/test/java/org/opensearch/ad/ratelimit/EntityColdStartWorkerTests.java
  src/test/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorJobActionHandlerTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyDetectorJobActionTests.java
Labels: enhancement, backport 2.x

#765 update bwc to 2.5
  build.gradle
Labels: infra
