Repository opensearch-project/anomaly-detection, pull requests merged in 2023-01, with the labels that each got.

#771 Updated MAINTAINERS.md format.
  MAINTAINERS.md
Labels: documentation, backport 2.x

#770 Fix the discrepancy between Profile API and real time tasks API
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorJobRunner.java
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/AnomalyDetectorProfileRunner.java
  src/main/java/org/opensearch/ad/ExecuteADResultResponseRecorder.java
  src/main/java/org/opensearch/ad/ProfileUtil.java
  src/main/java/org/opensearch/ad/task/ADRealtimeTaskCache.java
  src/main/java/org/opensearch/ad/task/ADTaskCacheManager.java
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/test/java/org/opensearch/ad/AbstractADTest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorJobActionHandlerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskCacheManagerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/ADBatchAnomalyResultTransportActionTests.java
Labels: backport 2.x, v2.5.0, backport 2.5

#775 bump bwc to 2.6.0
  build.gradle
Labels: infra, backport 2.x

#780 Add jackson back to build.gradle
  build.gradle
Labels: infra, backport 2.x, backport 2.5

#779 Adding 2.5 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.5.0.0.md
Labels: documentation, backport 2.x, backport 2.5

#787 fixing dls/fls logic around numeric aggregations
  src/main/java/org/opensearch/ad/AnomalyDetectorJobRunner.java
  src/main/java/org/opensearch/ad/AnomalyDetectorPlugin.java
  src/main/java/org/opensearch/ad/AnomalyDetectorProfileRunner.java
  src/main/java/org/opensearch/ad/EntityProfileRunner.java
  src/main/java/org/opensearch/ad/feature/CompositeRetriever.java
  src/main/java/org/opensearch/ad/feature/FeatureManager.java
  src/main/java/org/opensearch/ad/feature/SearchFeatureDao.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ModelValidationActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ValidateAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/ad/task/ADBatchTaskRunner.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/GetAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/util/ADSafeSecurityInjector.java
  src/main/java/org/opensearch/ad/util/MultiResponsesDelegateActionListener.java
  src/main/java/org/opensearch/ad/util/ParseUtils.java
  src/main/java/org/opensearch/ad/util/SafeSecurityInjector.java
  src/main/java/org/opensearch/ad/util/SecurityClientUtil.java
  src/main/java/org/opensearch/ad/util/SecurityUtil.java
  src/main/java/org/opensearch/ad/util/Throttler.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/AbstractProfileRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorProfileRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/MultiEntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/ODFERestTestCase.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/feature/FeatureManagerTests.java
  src/test/java/org/opensearch/ad/feature/NoPowermockSearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/feature/SearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/MultiEntityResultTests.java
  src/test/java/org/opensearch/search/aggregations/metrics/CardinalityProfileTests.java
Labels: bug
