Repository opensearch-project/anomaly-detection, pull requests merged in 2023-09, with the labels that each got.

#999 Revert "Enforce DOCUMENT Replication for AD Indices and Adjust Primar…
  src/main/java/org/opensearch/ad/indices/ADIndexManagement.java
  src/main/java/org/opensearch/forecast/indices/ForecastIndexManagement.java
  src/main/java/org/opensearch/forecast/settings/ForecastSettings.java
  src/main/java/org/opensearch/timeseries/indices/IndexManagement.java
Labels: backport 2.x, v2.10.0

#1003 Adds auto release workflow
  .github/workflows/auto-release.yml
Labels: infra, backport 2.x, backport 2.10

#1012 upgrading commons-lang3 version to fix conflict issue
  build.gradle
Labels: infra, backport 2.x, backport 2.10

#1017 Refactor classes and improve build checks
  .github/workflows/test_build_multi_platform.yml
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorProfileRunner.java
  src/main/java/org/opensearch/ad/EntityProfileRunner.java
  src/main/java/org/opensearch/ad/ExecuteADResultResponseRecorder.java
  src/main/java/org/opensearch/ad/constant/ADCommonMessages.java
  src/main/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorJobActionHandler.java
  src/main/java/org/opensearch/ad/rest/handler/ModelValidationActionHandler.java
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/main/java/org/opensearch/ad/transport/AnomalyDetectorJobAction.java
  src/main/java/org/opensearch/ad/transport/AnomalyDetectorJobResponse.java
  src/main/java/org/opensearch/ad/transport/AnomalyDetectorJobTransportAction.java
  src/main/java/org/opensearch/ad/transport/EntityProfileRequest.java
  src/main/java/org/opensearch/ad/transport/ForwardADTaskAction.java
  src/main/java/org/opensearch/ad/transport/ForwardADTaskTransportAction.java
  src/main/java/org/opensearch/ad/transport/SearchAnomalyDetectorInfoTransportAction.java
  src/main/java/org/opensearch/ad/transport/StatsAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/ad/transport/handler/ADSearchHandler.java
  src/main/java/org/opensearch/forecast/constant/ForecastCommonMessages.java
  src/main/java/org/opensearch/timeseries/constant/CommonMessages.java
  src/main/java/org/opensearch/timeseries/transport/JobResponse.java
  src/test/java/org/opensearch/ad/EntityProfileRunnerTests.java
  src/test/java/org/opensearch/ad/HistoricalAnalysisIntegTestCase.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/mock/transport/MockAnomalyDetectorJobAction.java
  src/test/java/org/opensearch/ad/mock/transport/MockAnomalyDetectorJobTransportActionWithUser.java
  src/test/java/org/opensearch/ad/rest/handler/IndexAnomalyDetectorJobActionHandlerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyDetectorJobActionTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyDetectorJobTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ForwardADTaskTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorResponseTests.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
Labels: infra, backport 2.x

#1018 Updates demo certs for integ tests
  src/test/resources/security/sample.pem
  src/test/resources/security/test-kirk.jks
Labels: backport 2.x, backport 2.10

#1029 Upgrade AD's bwc baseline version to 1.3.2 to resolve cluster join issue
  .github/workflows/test_build_multi_platform.yml
  .github/workflows/test_security.yml
  build.gradle
Labels: backport 2.10

#1031 Add 2.10 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.10.0.0.md
Labels: documentation, backport 2.x, backport 2.10

#1026 Add dependabot.yml
  .github/dependabot.yml
Labels: infra, backport 2.x

#1023 Ensure integ tests run with security after plugin rename
  .github/workflows/test_security.yml
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
Labels: infra, backport 2.x

#1034 React to Tracer changes in TransportService from core#9415
  src/test/java/org/opensearch/ad/transport/DeleteAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/EntityProfileTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/RCFPollingTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultTests.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
  src/test/java/org/opensearch/ad/transport/ThresholdResultTests.java
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: backport 2.x
