Repository opensearch-project/anomaly-detection, pull requests merged in 2023-10, with the labels that each got.

#1069 [2.x] Fix TransportService constructor due to changes in core plus guava bump
  build.gradle
  release-notes/opensearch-anomaly-detection.release-notes-2.11.0.0.md
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/DeleteAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/EntityProfileTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/RCFPollingTests.java
  src/test/java/org/opensearch/ad/transport/RCFResultTests.java
  src/test/java/org/opensearch/ad/transport/SearchAnomalyResultActionTests.java
  src/test/java/org/opensearch/ad/transport/ThresholdResultTests.java
  src/test/java/test/org/opensearch/ad/util/FakeNode.java
Labels: backport 2.11

#1092 Onboarding jenkins prod docker images to github actions
  .github/workflows/benchmark.yml
  .github/workflows/test_build_multi_platform.yml
  .github/workflows/test_bwc.yml
  .github/workflows/test_security.yml
Labels: infra, backport 2.x

#1093 Fix the bwc test version retrieval
  .github/workflows/test_bwc.yml
Labels: bug, infra, backport 2.x

#1094 Backport 2.x #1092 #1093
  .github/workflows/benchmark.yml
  .github/workflows/test_build_multi_platform.yml
  .github/workflows/test_bwc.yml
  .github/workflows/test_security.yml
Labels: enhancement, infra, backport 2.x
