Repository opensearch-project/anomaly-detection, pull requests merged in 2023-05, with the labels that each got.

#886 Various fixes
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/org/opensearch/ad/indices/AnomalyDetectionIndices.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/TestHelpers.java
  src/test/java/org/opensearch/ad/feature/SearchFeatureDaoParamTests.java
  src/test/java/org/opensearch/ad/feature/SearchFeatureDaoTests.java
  src/test/java/org/opensearch/ad/indices/UpdateMappingTests.java
  src/test/java/org/opensearch/ad/ml/ModelManagerTests.java
  src/test/java/org/opensearch/ad/transport/DeleteAnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/transport/IndexAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/PreviewAnomalyDetectorTransportActionTests.java
  src/test/java/test/org/opensearch/ad/util/ClusterCreation.java
Labels: infra

#897 Sync up CODEOWNERS with MAINTAINERS.md.
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: infra, backport 2.x

#898 Update outdated MAINTAINERS and OWNERS list
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, infra, backport 2.x

#915 add 2.8 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.8.0.0.md
Labels: documentation
