Repository opensearch-project/anomaly-detection, pull requests merged in 2023-07, with the labels that each got.

#941 Add ForecastResult and Refactor Shared Code
  build.gradle
  src/main/java/org/opensearch/ad/AnomalyDetectorRunner.java
  src/main/java/org/opensearch/ad/ExecuteADResultResponseRecorder.java
  src/main/java/org/opensearch/ad/ProfileUtil.java
  src/main/java/org/opensearch/ad/cluster/ADDataMigrator.java
  src/main/java/org/opensearch/ad/indices/ADIndexManagement.java
  src/main/java/org/opensearch/ad/ml/ThresholdingResult.java
  src/main/java/org/opensearch/ad/model/AnomalyResult.java
  src/main/java/org/opensearch/ad/model/DataByFeatureId.java
  src/main/java/org/opensearch/ad/model/ExpectedValueList.java
  src/main/java/org/opensearch/ad/ratelimit/CheckpointReadWorker.java
  src/main/java/org/opensearch/ad/ratelimit/ResultWriteWorker.java
  src/main/java/org/opensearch/ad/task/ADBatchTaskRunner.java
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/main/java/org/opensearch/ad/transport/AnomalyResultResponse.java
  src/main/java/org/opensearch/ad/transport/EntityResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/SearchTopAnomalyResultTransportAction.java
  src/main/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandler.java
  src/main/java/org/opensearch/forecast/indices/ForecastIndexManagement.java
  src/main/java/org/opensearch/forecast/model/ForecastResult.java
  src/main/java/org/opensearch/timeseries/constant/CommonName.java
  src/main/java/org/opensearch/timeseries/indices/IndexManagement.java
  src/main/java/org/opensearch/timeseries/ml/IntermediateResult.java
  src/main/java/org/opensearch/timeseries/model/IndexableResult.java
  src/main/resources/mappings/forecast-results.json
  src/test/java/org/opensearch/ad/cluster/ADDataMigratorTests.java
  src/test/java/org/opensearch/ad/indices/CustomIndexTests.java
  src/test/java/org/opensearch/ad/indices/InitAnomalyDetectionIndicesTests.java
  src/test/java/org/opensearch/ad/ml/ThresholdingResultTests.java
  src/test/java/org/opensearch/ad/model/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
  src/test/java/org/opensearch/forecast/indices/ForecastIndexManagementTests.java
  src/test/java/org/opensearch/forecast/indices/ForecastIndexMappingTests.java
  src/test/java/org/opensearch/forecast/model/ForecastResultTests.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
Labels: feature

#948 Enforce DOCUMENT Replication for AD Indices and Adjust Primary Shards
  src/main/java/org/opensearch/ad/indices/ADIndexManagement.java
  src/main/java/org/opensearch/forecast/indices/ForecastIndexManagement.java
  src/main/java/org/opensearch/forecast/settings/ForecastSettings.java
  src/main/java/org/opensearch/timeseries/indices/IndexManagement.java
Labels: backport 2.x

#952 Add 2.9 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.9.0.0.md
Labels: documentation, backport 2.x, v2.9.0, backport 2.9
