Repository opensearch-project/anomaly-detection, pull requests merged in 2024-10, with the labels that each got.

#1334 Bump RCF Version and Fix Default Rules Bug in AnomalyDetector
  build.gradle
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/timeseries/JobProcessor.java
  src/main/java/org/opensearch/timeseries/ratelimit/ColdStartWorker.java
  src/main/java/org/opensearch/timeseries/rest/handler/IndexJobActionHandler.java
  src/main/java/org/opensearch/timeseries/transport/handler/ResultBulkIndexingHandler.java
  src/test/java/org/opensearch/ad/e2e/AbstractRuleTestCase.java
  src/test/java/org/opensearch/ad/ml/ADColdStartTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
  src/test/java/org/opensearch/ad/transport/handler/AnomalyResultBulkIndexHandlerTests.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
  src/test/java/org/opensearch/timeseries/transport/JobRequestTests.java
Labels: infra, backport 2.x, backport 2.17

#1337 Updating several dependencies
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/test_build_multi_platform.yml
  build.gradle
Labels: infra, backport 2.x

#1341 Add rule validation in AnomalyDetector constructor
  build.gradle
  src/main/java/org/opensearch/ad/ml/ADModelManager.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/timeseries/ml/MemoryAwareConcurrentHashmap.java
  src/main/java/org/opensearch/timeseries/model/ValidationIssueType.java
  src/main/java/org/opensearch/timeseries/transport/SuggestConfigParamRequest.java
  src/test/java/org/opensearch/ad/e2e/HistoricalRuleModelPerfIT.java
  src/test/java/org/opensearch/ad/e2e/RealTimeRuleModelPerfIT.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/timeseries/transport/SuggestConfigParamRequestTests.java
  src/test/java/org/opensearch/timeseries/transport/SuggestConfigParamResponseTests.java
Labels: infra, backport 2.x

#1351 Fix race condition in PageListener
  src/main/java/org/opensearch/timeseries/transport/ResultBulkTransportAction.java
  src/main/java/org/opensearch/timeseries/transport/ResultProcessor.java
  src/test/java/org/opensearch/ad/e2e/AbstractMissingSingleFeatureTestCase.java
  src/test/java/org/opensearch/ad/e2e/MissingIT.java
  src/test/java/org/opensearch/ad/e2e/MissingMultiFeatureIT.java
  src/test/java/org/opensearch/ad/e2e/PreviewMissingSingleFeatureIT.java
Labels: bug, backport 2.x, backport 2.18
