Repository opensearch-project/anomaly-detection, pull requests merged in 2024-01, with the labels that each got.

#1121 add publishToMavenLocal task to fix zip plugin not published to maven local issue when running this script
  scripts/build.sh
Labels: backport 2.x

#1129 Require JDK version for java spotless check
  .github/workflows/test_build_multi_platform.yml
Labels: infra, backport 2.x

#1134 Remove default admin credentials
  .github/workflows/test_security.yml
  DEVELOPER_GUIDE.md
  dataGeneration/README.md
  dataGeneration/generate-cosine-data-multi-entity.py
Labels: documentation, infra, backport 2.x

#1146 Updated lucene snapshot url
  build.gradle
Labels: infra, backport 2.x

#1150 Improve GetAnomalyDetectorTransportAction to accept generic ActionRequest
  src/main/java/org/opensearch/ad/transport/GetAnomalyDetectorRequest.java
  src/main/java/org/opensearch/ad/transport/GetAnomalyDetectorTransportAction.java
Labels: backport 2.x
