Repository opensearch-project/anomaly-detection, pull requests merged in 2024-09, with the labels that each got.

#1292 Correct handling of null max aggregation values in SearchResponse
  src/main/java/org/opensearch/timeseries/util/ParseUtils.java
  src/test/java/org/opensearch/timeseries/util/ParseUtilsTests.java
Labels: bug, backport 2.x

#1290 Adding remote index and multi-index checks in validation
  src/main/java/org/opensearch/timeseries/constant/CommonMessages.java
  src/main/java/org/opensearch/timeseries/rest/RestValidateAction.java
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/main/java/org/opensearch/timeseries/transport/BaseValidateConfigTransportAction.java
  src/main/java/org/opensearch/timeseries/util/CrossClusterConfigUtils.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/AbstractForecasterActionHandlerTestCase.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexForecasterActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/ValidateForecasterActionHandlerTests.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/timeseries/util/CrossClusterConfigUtilsTests.java
Labels: backport 2.x

#1296 Passing user to getLatestDataTime call
  src/main/java/org/opensearch/timeseries/feature/SearchFeatureDao.java
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/main/java/org/opensearch/timeseries/rest/handler/IntervalCalculation.java
  src/main/java/org/opensearch/timeseries/rest/handler/LatestTimeRetriever.java
  src/main/java/org/opensearch/timeseries/rest/handler/ModelValidationActionHandler.java
  src/main/java/org/opensearch/timeseries/util/CrossClusterConfigUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/forecast/rest/ForecastRestApiIT.java
Labels: backport 2.x, backport 2.17

#1299 release notes for 2.17
  release-notes/opensearch-anomaly-detection.release-notes-2.17.0.0.md
Labels: documentation, backport 2.x, backport 2.17

#1308 Fix Security Tests After Changes to Permissions Requirements
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
Labels: backport 2.x, backport 2.17

#1311 Bump BWC Version to 2.18 and Fix Bugs
  build.gradle
  src/main/java/org/opensearch/ad/model/AnomalyResult.java
  src/main/java/org/opensearch/ad/transport/GetAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/forecast/model/ForecastResult.java
  src/main/java/org/opensearch/timeseries/caching/PriorityCache.java
  src/main/java/org/opensearch/timeseries/transport/BaseGetConfigTransportAction.java
  src/main/java/org/opensearch/timeseries/transport/ResultProcessor.java
  src/test/java/org/opensearch/ad/HistoricalAnalysisRestTestCase.java
  src/test/java/org/opensearch/ad/caching/PriorityCacheTests.java
  src/test/java/org/opensearch/ad/e2e/AbstractRuleTestCase.java
  src/test/java/org/opensearch/ad/e2e/PreviewRuleIT.java
  src/test/java/org/opensearch/ad/e2e/RealTimeRuleIT.java
  src/test/java/org/opensearch/ad/ml/EntityColdStarterTests.java
  src/test/java/org/opensearch/ad/model/AnomalyResultTests.java
  src/test/java/org/opensearch/ad/model/GetAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ADHCImputeNodesResponseTests.java
  src/test/java/org/opensearch/forecast/transport/GetForecasterTransportActionTests.java
Labels: backport 2.x, backport 2.17

#1316 Support forecast tasks in profile API; enable index field modifications
  build.gradle
  src/main/java/org/opensearch/ad/model/ADTask.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/rest/RestIndexAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/forecast/ForecastTaskProfileRunner.java
  src/main/java/org/opensearch/forecast/model/ForecastTask.java
  src/main/java/org/opensearch/forecast/model/Forecaster.java
  src/main/java/org/opensearch/forecast/rest/RestIndexForecasterAction.java
  src/main/java/org/opensearch/forecast/rest/handler/AbstractForecasterActionHandler.java
  src/main/java/org/opensearch/timeseries/model/Config.java
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/main/java/org/opensearch/timeseries/transport/BooleanNodeResponse.java
  src/main/java/org/opensearch/timeseries/transport/BooleanResponse.java
  src/main/resources/mappings/anomaly-detection-state.json
  src/main/resources/mappings/config.json
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/model/GetAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
  src/test/java/org/opensearch/ad/transport/ADHCImputeNodesResponseTests.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ForwardADTaskRequestTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/forecast/model/ForecasterTests.java
  src/test/java/org/opensearch/forecast/rest/ForecastRestApiIT.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
  src/test/java/org/opensearch/timeseries/transport/BooleanResponseTests.java
Labels: enhancement, backport 2.x, backport 2.17

#1320 add 2.17.1 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.17.1.0.md
Labels: documentation, backport 2.x, backport 2.17

#1326 fix release notes typo
  release-notes/opensearch-anomaly-detection.release-notes-2.17.0.0.md
  release-notes/opensearch-anomaly-detection.release-notes-2.17.1.0.md
Labels: documentation, backport 2.x, backport 2.17
