Repository opensearch-project/anomaly-detection, pull requests merged in 2024-06, with the labels that each got.

#1215 Add custom result index lifecycle management condition fields to config
  src/main/java/org/opensearch/ad/model/ADTask.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/rest/handler/AbstractAnomalyDetectorActionHandler.java
  src/main/java/org/opensearch/forecast/model/ForecastTask.java
  src/main/java/org/opensearch/forecast/model/Forecaster.java
  src/main/java/org/opensearch/forecast/rest/handler/AbstractForecasterActionHandler.java
  src/main/java/org/opensearch/timeseries/model/Config.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
  src/test/java/org/opensearch/ad/rest/ADRestTestUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/ad/rest/SecureADRestIT.java
  src/test/java/org/opensearch/ad/transport/AnomalyResultTransportActionTests.java
  src/test/java/org/opensearch/ad/transport/ForwardADTaskRequestTests.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/forecast/model/ForecasterTests.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
Labels: backport 2.x

#1221 change request type to ActionRequest BaseGetConfigTransportAction to …
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/timeseries/transport/BaseGetConfigTransportAction.java
  src/test/java/org/opensearch/ad/model/AnomalyDetectorTests.java
Labels: backport 2.x

#1231 Fix Duplicate Scheduling of Index Rollover in ADIndexManagement
  src/main/java/org/opensearch/ad/indices/ADIndexManagement.java
Labels: backport 2.x

#1234 Fix Null Pointer Exception and Improve Handling for Missing Config Index
  src/main/java/org/opensearch/timeseries/indices/IndexManagement.java
Labels: backport 2.x

#1232 add custom result index lifecycle management
  src/main/java/org/opensearch/ad/indices/ADIndexManagement.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/forecast/indices/ForecastIndexManagement.java
  src/main/java/org/opensearch/timeseries/indices/IndexManagement.java
  src/test/java/org/opensearch/ad/indices/RolloverTests.java
Labels: backport 2.x

#1237 Merge Single-Stream and HC Detector Profiling Workflows
  src/main/java/org/opensearch/ad/AnomalyDetectorProfileRunner.java
  src/main/java/org/opensearch/ad/ml/ADCheckpointDao.java
  src/main/java/org/opensearch/timeseries/transport/BaseProfileTransportAction.java
  src/test/java/org/opensearch/ad/AbstractProfileRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorProfileRunnerTests.java
  src/test/java/org/opensearch/ad/OldAnomalyDetectorProfileRunner.java
  src/test/java/org/opensearch/search/aggregations/metrics/CardinalityProfileTests.java
Labels: backport 2.x

#1240 Adding 2.15 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.15.0.0.md
Labels: documentation, backport 2.x

#1238 feat: Adding support for date_nanos to Anomaly Detection
  src/main/java/org/opensearch/timeseries/constant/CommonName.java
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/test/java/org/opensearch/ad/ADIntegTestCase.java
  src/test/java/org/opensearch/ad/e2e/RuleModelPerfIT.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
  src/test/java/org/opensearch/ad/transport/ValidateAnomalyDetectorTransportActionTests.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
Labels: backport 2.x

#1228 Set baseline JDK version to JDK-21
  .github/workflows/maven-publish.yml
  .github/workflows/test_build_multi_platform.yml
  .github/workflows/test_bwc.yml
  .github/workflows/test_security.yml
  build.gradle
Labels: infra

#1253 Update BWC Test Version and Enhance Code Coverage
  .github/workflows/benchmark.yml
  .github/workflows/test_security.yml
  build-tools/coverage.gradle
  build.gradle
  dataGeneration/requirements.txt
  src/main/java/org/opensearch/forecast/settings/ForecastEnabledSetting.java
  src/main/java/org/opensearch/timeseries/JobProcessor.java
  src/main/java/org/opensearch/timeseries/util/TaskUtil.java
  src/test/java/org/opensearch/action/admin/indices/mapping/get/IndexAnomalyDetectorActionHandlerTests.java
  src/test/java/org/opensearch/ad/AbstractADSyntheticDataTest.java
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
  src/test/java/org/opensearch/ad/AnomalyDetectorRestTestCase.java
  src/test/java/org/opensearch/ad/HistoricalAnalysisRestTestCase.java
  src/test/java/org/opensearch/ad/caching/PriorityCacheTests.java
  src/test/java/org/opensearch/ad/e2e/AbstractRuleTestCase.java
  src/test/java/org/opensearch/ad/e2e/DetectionResultEvalutationIT.java
  src/test/java/org/opensearch/ad/e2e/RuleIT.java
  src/test/java/org/opensearch/ad/e2e/RuleModelPerfIT.java
  src/test/java/org/opensearch/ad/e2e/SingleStreamModelPerfIT.java
  src/test/java/org/opensearch/ad/rest/HistoricalAnalysisRestApiIT.java
  src/test/java/org/opensearch/forecast/AbstractForecastSyntheticDataTest.java
  src/test/java/org/opensearch/forecast/rest/ForecastRestApiIT.java
  src/test/java/org/opensearch/forecast/settings/ForecastEnabledSettingTests.java
  src/test/java/org/opensearch/timeseries/AbstractSyntheticDataTest.java
  src/test/java/org/opensearch/timeseries/ODFERestTestCase.java
  src/test/java/org/opensearch/timeseries/TestHelpers.java
Labels: infra, backport 2.x
