Repository opensearch-project/anomaly-detection, pull requests merged in 2024-02, with the labels that each got.

#1152 add 2.12 release notes
  release-notes/opensearch-anomaly-detection.release-notes-2.12.0.0.md
Labels: documentation, backport 2.x, backport 2.12

#1158 Fixed lucene url
  build.gradle
Labels: infra, backport 2.x

#1164 Inject NamedWriteableRegistry in AD node client
  src/main/java/org/opensearch/ad/client/AnomalyDetectionNodeClient.java
  src/main/java/org/opensearch/ad/transport/GetAnomalyDetectorResponse.java
  src/test/java/org/opensearch/ad/client/AnomalyDetectionNodeClientTests.java
  src/test/java/org/opensearch/ad/transport/GetAnomalyDetectorResponseTests.java
Labels: backport 2.x
