Repository opensearch-project/anomaly-detection, pull requests merged in 2025-07, with the labels that each got.

#1517 Updates build.gradle to conditionally download security certificates
  build.gradle
Labels: infra, skip-changelog, backport 3.1

#1508 Fixing concurrency bug on writer
  CHANGELOG.md
  src/main/java/org/opensearch/ad/task/ADTaskManager.java
  src/main/java/org/opensearch/timeseries/ratelimit/BatchWorker.java
  src/main/java/org/opensearch/timeseries/ratelimit/RateLimitedRequestWorker.java
  src/main/java/org/opensearch/timeseries/ratelimit/SingleRequestWorker.java
  src/test/java/org/opensearch/ad/ratelimit/ResultWriteWorkerTests.java
  src/test/java/org/opensearch/ad/task/ADTaskManagerTests.java
Labels: backport 2.x, backport 3.1

#1523 [Test Refactor] Remove instantiation of LockService from JS and use Mock instead
  src/test/java/org/opensearch/ad/AnomalyDetectorJobRunnerTests.java
Labels: backport 2.x, skip-changelog

#1525 Migrating from commons-lang2.6 to commons-lang3.18
  build.gradle
  src/main/java/org/opensearch/ad/ml/ThresholdingResult.java
  src/main/java/org/opensearch/ad/model/AnomalyDetector.java
  src/main/java/org/opensearch/ad/model/AnomalyDetectorExecutionInput.java
  src/main/java/org/opensearch/ad/model/AnomalyResult.java
  src/main/java/org/opensearch/ad/model/AnomalyResultBucket.java
  src/main/java/org/opensearch/ad/model/Condition.java
  src/main/java/org/opensearch/ad/model/ExpectedValueList.java
  src/main/java/org/opensearch/ad/model/Rule.java
  src/main/java/org/opensearch/ad/rest/RestExecuteAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/rest/RestPreviewAnomalyDetectorAction.java
  src/main/java/org/opensearch/ad/transport/ForwardADTaskRequest.java
  src/main/java/org/opensearch/ad/transport/PreviewAnomalyDetectorTransportAction.java
  src/main/java/org/opensearch/forecast/model/ForecastResult.java
  src/main/java/org/opensearch/forecast/model/ForecastResultBucket.java
  src/main/java/org/opensearch/timeseries/caching/CacheBuffer.java
  src/main/java/org/opensearch/timeseries/caching/PriorityTracker.java
  src/main/java/org/opensearch/timeseries/dataprocessor/ImputationOption.java
  src/main/java/org/opensearch/timeseries/feature/CompositeRetriever.java
  src/main/java/org/opensearch/timeseries/feature/Features.java
  src/main/java/org/opensearch/timeseries/ml/IntermediateResult.java
  src/main/java/org/opensearch/timeseries/ml/Sample.java
  src/main/java/org/opensearch/timeseries/model/Config.java
  src/main/java/org/opensearch/timeseries/model/ConfigProfile.java
  src/main/java/org/opensearch/timeseries/model/DataByFeatureId.java
  src/main/java/org/opensearch/timeseries/model/DateRange.java
  src/main/java/org/opensearch/timeseries/model/EntityProfile.java
  src/main/java/org/opensearch/timeseries/model/Feature.java
  src/main/java/org/opensearch/timeseries/model/FeatureData.java
  src/main/java/org/opensearch/timeseries/model/IndexableResult.java
  src/main/java/org/opensearch/timeseries/model/InitProgressProfile.java
  src/main/java/org/opensearch/timeseries/model/ModelProfile.java
  src/main/java/org/opensearch/timeseries/model/ModelProfileOnNode.java
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/main/java/org/opensearch/timeseries/transport/EntityProfileResponse.java
  src/main/java/org/opensearch/timeseries/transport/StatsResponse.java
  src/main/java/org/opensearch/timeseries/util/ExceptionUtil.java
  src/main/java/org/opensearch/timeseries/util/RestHandlerUtils.java
  src/test/java/test/org/opensearch/ad/util/JsonDeserializer.java
Labels: backport 2.19, skip-changelog
