Repository opensearch-project/anomaly-detection, pull requests merged in 2025-02, with the labels that each got.

#1409 update put route when flattening result index
  src/main/java/org/opensearch/timeseries/rest/handler/AbstractTimeSeriesActionHandler.java
  src/main/java/org/opensearch/timeseries/util/RestHandlerUtils.java
  src/test/java/org/opensearch/ad/rest/AnomalyDetectorRestApiIT.java
Labels: backport 2.x, backport 2.19

#1413 Add Changelog verifier workflow
  .github/workflows/changelog_verifier.yml
  CHANGELOG.md
  DEVELOPER_GUIDE.md
Labels: documentation, infra, backport 2.x

#1412 Add release notes for 2.19.0
  release-notes/opensearch-anomaly-detection.release-notes-2.19.0.0.md
Labels: documentation, backport 2.x, backport 2.19

#1428 Upgrade gradle 8.10.2 and JDK 23
  .github/workflows/test_build_multi_platform.yml
  build-tools/coverage.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: infra, release, v3.0.0, skip-changelog
