Repository opensearch-project/anomaly-detection, pull requests merged in 2025-06, with the labels that each got.

#1488 adding release notes for 3.1.0
  CHANGELOG.md
  release-notes/opensearch-anomaly-detection.release-notes-3.1.0.0.md
Labels: documentation, backport 2.x

#1493 Fix LatestTimeRetriever range query failing on non-epoch date mappings
  release-notes/opensearch-anomaly-detection.release-notes-3.1.0.0.md
  src/main/java/org/opensearch/timeseries/rest/handler/LatestTimeRetriever.java
Labels: documentation, backport 3.1

#1496 Refine cold-start, window delay, and task updates
  release-notes/opensearch-anomaly-detection.release-notes-3.1.0.0.md
  src/main/java/org/opensearch/ad/ml/ADColdStart.java
  src/main/java/org/opensearch/forecast/ml/ForecastCheckpointDao.java
  src/main/java/org/opensearch/timeseries/ml/ModelColdStart.java
  src/main/java/org/opensearch/timeseries/task/TaskManager.java
  src/main/java/org/opensearch/timeseries/transport/BaseSuggestConfigParamTransportAction.java
Labels: backport 3.1

#1498 Update the maven snapshot publish endpoint and credential
  .github/workflows/maven-publish.yml
  build.gradle
Labels: infra, backport 2.19, skip-changelog, backport 3.1
