Repository opensearch-project/anomaly-detection, pull requests merged in 2025-04, with the labels that each got.

#1444 Increment version to 3.0.0.0-beta1
  CHANGELOG.md
  build.gradle
Labels: infra

#1446 Distinguish local cluster when local name is same as remote
  CHANGELOG.md
  src/main/java/org/opensearch/timeseries/util/CrossClusterConfigUtils.java
  src/test/java/org/opensearch/timeseries/util/CrossClusterConfigUtilsTests.java
Labels: backport 2.x

#1447 Adding release notes for 3.0.0.0-beta1
  CHANGELOG.md
  release-notes/opensearch-anomaly-detection.release-notes-3.0.0.0-beta1.md
Labels: documentation, backport 2.x

#1450 Fix build due to phasing off SecurityManager usage in favor of Java A…
  build.gradle
Labels: infra, skip-changelog

#1454 Using java-agent gradle plugin to phase off Security Manager in favor of Java-agent.
  build.gradle
Labels: infra, skip-changelog

#1456 Add integtest.sh to specifically run integTestRemote task
  scripts/integtest.sh
Labels: enhancement, backport 2.x, backport 2.19, skip-changelog

#1464 adding release notes for 3.0.0
  CHANGELOG.md
  release-notes/opensearch-anomaly-detection.release-notes-3.0.0.0.md
Labels: documentation, infra, backport 3.0

#1468 Remove beta1 qualifier
  build.gradle
Labels: release, v3.0.0, backport main
